<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Omicron.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F18282211EF0343F00B2B753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F18282351EF0343F00B2B753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F18282401EF0343F00B2B753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
